/*===============================================
*BitShooping MAIN CSS
*Aguest 11 2016
==================================================*/
/*
==================================================
 Table of Content
==================================================
#	
#
#  
#
===================================================*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700';

body,html {
	margin:0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	color: #272727;
	background: #ECECEC;
	height: 100%;
	z-index: -1;
}
/*=======
navbar start
==========*/
.navbar-default {
    background-color: #fff;
    border-color: #000;
    border-radius: 0;
	margin-bottom: 0px;
	padding: 0 62px;
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid #ddd;
}
.navbar-default .navbar-brand {
    color: #000;
	font-weight: 800;
	font-size: 22px;
}
.navbar-default .navbar-brand:hover {
    color: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
	font-size: 13px    ;
    line-height: 20px;
    font-weight: 600;
}
.listing {
    background: #fff;
    padding: 0 66px;
   /* height: 52px;*/
   /* margin: 0px;
    padding: 20px 20px;*/
}
/*.listing ul li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}*/
.listing .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    font-size: 9px    ;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none !important;
    text-transform: uppercase;
}
/*.navbar-nav>li::before{
    position: absolute;
    top: 17px;
    right: -3px;
    float: left;
    border: 0;
    color: #dfe1e8;
    content: '|';
}*/
.navbar-nav>li:not(:last-child):after {
    position: absolute;
    top: 17px;
    right: -3px;
    float: left;
    border: 0;
    color: #dfe1e8;     
    content:'|';
}

.navbar-default .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-nav>li:hover {
    color: #fff !important;
	/*background-color: hsla(0,0%,100%,.2);*/
	background-color: hsla(205, 100%, 93%);
}
.search-top .navbar-form .input-group {
	width: 678px;
    max-width: 100%;
}
.search-top .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 20px 14px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-top .input-group-btn .btn {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    padding: 10px 24px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0px 4px 4px 0;
}
.btn-default {
  /* color: #fff;
    background-color: #4D87EF;
    border-color: #ccc;
    padding: 0 2px;*/
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.search-top .fa-search {
	font-size: 18px;
    font-weight: 500;
    line-height: 14px;
}
.search-top img {
	width: 138px;
	max-width: 100%;
    height: 110px;
}
/*
.user-log  {
    border: 1px solid #4D87EF;
    padding: 4px 10px;
    border-radius: 2px;
}*/
.user-log img {
    width: 32px;
    max-width: 100%;
    height: 32px;
    border-radius: 18px;178
}
.user-nme {
    font-size: 14px;
    font-weight: 600;
    color: #272727;
}
/*roall hover categories css part start*/

.dropdown-submenu  {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    position:absolute;
    top:0;
    left:100%;
    margin-top:-6px;
 }
 /*
 .cat-detail {
    position:relative;
 }
 .dropdown-submenu>.dropdown-menu{
    position:absolute;
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
   -webkit-border-radius:0 6px 6px 0px;
   -moz-border-radius:0 6px 6px 0px;
   sborder-radius:0 6px 6px 0px;
 }*/
 .dropdown-submenu>.dropdown-menu  a {
    text-decoration: none;
 }
 .main-drp .cat-wrp .cat-detail a {
    text-decoration: none;
 }
 .dropdown-submenu>.dropdown-menu .dropdown a {
    text-decoration: none;
 }
  .cat-wrp li a {
    text-decoration: none;
  }
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
/*@media (max-width: 767px) {
    .navbar-right .nav>li {
        position: relative !important;
        display: inline-block !important;
    }*/

  .navbar-nav  {
    /* display: inline;*/
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: transparent;
    border-radius: 0px;
    margin-top: 2px;   
    text-decoration: none !important;
  }
  .cat-wrp .cat-detail .cat1-wrp .cat1-detail a {
        text-decoration: none !important;
        color: #000 !important;
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
     text-decoration: none !important;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     /*background-color: #ccc;*/
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid #ddd;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  
/*roall hover categories css part end*/
/*=======
navbar END
==========*/
/*========
SIGNIN/ SIGNUP PART(CSS)
===========*/
 body {
    /*padding-top: 15px;*/
    font-size: 12px
  }
  .loged-wrap {
    background: url(../images/bgs.jpg) 50% fixed;
    height: 100vh;
    background-size: cover;
  }
  .main {
    max-width: 382px;
   border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin: 40px auto;
    background: #fff;
}



  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    font-size: 14px;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    /*margin-top: 0px !important;
    margin-bottom: 0px !important;*/
  }

  .main h3 {
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    margin-top: 0px;
  }

/*=======
section css start
==========*/

.main-wrap {
	width: 650px;
    max-width: 100%;
    margin: 0 auto;
}
.search-top {
	display: table-cell;
    margin-top: 40px;
	text-align: center;
   /* padding-left: 95px;*/
}
.main-products {
	margin-top: 40px;
	margin-bottom: 40px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #4D87EF;
    border-radius: 0px;
}
.news-wraping {
     padding: 8px;

}
.main-products  .panel-default {
    border: 1px solid transparent;
}
.panel-body {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding: 12px;
}
.main-products .thumbnail {
    height: 64px;
    max-height: 100%;
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;
}

.main-products  .thumbnail img {
	max-height: 68px;
    max-width: 68px;
    float: left;
    margin-right: 10px;
}
.main-products .thumbnail .caption {
    padding: 0;
    color: #333;
}
.bit-info {
    margin-left: 116px;
    width: 213px;
    max-width: 100%;
    margin-top: 8px;
}
.bit-info .bit-title {
    color: #212121;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}
.bit-descript {
    max-height: 54px;
    min-height: 20px;
    overflow: hidden;
    color: #8d8d8d;
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    padding: 0 10px;
    position: relative;
    word-wrap: break-word;
}
.item-name-desc {
	font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0px;
    width: 134px;
    overflow: hidden;
    color: #272727;
	margin-top: -11px;
}
.news-details .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
	margin-right: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.news-details   {
    padding-left: 10px;
}
.similar-content {
	margin-top: 40px;
}
.similar-content .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.similar-content .panel-body {
    padding: 8px;
}
.similar-content .thumbnail {
    height: 72px;
    max-height: 100%;   
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.similar-content .thumbnail img {
    max-height: 66px;
    max-width: 50px;
    float: left;
    margin: 3px;
    display: inline;
    width:68px;
}
.similar-content .thumbnail .badge {
	margin-right: 20px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 2px;
}
.thumbnail .announce {
    padding: 0px;
    color: #333;
    display: inline;
    float: right;
    width: 82%;
    max-width: 100%;
    overflow: hidden;
}
.announce  h5 {
    color: #000 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 12px 0px;
    overflow: hidden;
    text-decoration: none !important;
    position: relative;
    white-space: nowrap;
    width: 268px;
    text-overflow: ellipsis;
    margin: 4px 0;

}

/*========
Details css start
=========*/
.product-content .panel-body {
    padding: 4px 12px;
    /*border: 1px solid #bbb;*/
}
.product-content-list {
   /* margin-top: 40px;*/
}
.product-content .product-list {
    margin:4px 0 5px;
}
.product-content ul li a {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 3px;
    min-height: 17px;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
    position: relative;
    white-space: nowrap;
    width: 164px;
    text-overflow: ellipsis;
}
.product-content ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #272727;
    font-weight: 400;
}
.product-content ul li {
    border-top: 1px solid #bbb;
    padding: 6px 0 6px 12px;
}
.product-content ul .last {
    border-bottom: 1px solid transparent;
    padding: 6px 0 6px 12px;
}
.filter-content .check-brand {
    padding-left: 32px;
}
.filter-content form .checkbox, .radio {
    font-size: 12px;
    font-weight: 400;
}
.filter-content .sub-category {
    text-align: center;
    padding: 4px 4px;
}
.filter-content #size {
    width: 178px;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #ccc;
}


/*========
Details css start
=========*/
.main-wrap-details {
    width: 650px;
    margin: 0 auto;
    /*margin-top: 40px;*/
}
.main-products-details {
    padding-left: 8px;
    border-color: transparent;
}
.result-details {
    padding: 0 10px !important;
}
.news-body {
    padding: 15px;
}
.main-products-details .thumbnail {
    position: relative;
    width: 206px;
    max-width: 100%;
    height: 266px;
    max-height: 100%;
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.42857143;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 3px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    overflow: hidden;
}
.news-page .thumbnail {
    position: relative;
    width: 206px;
    max-width: 100%;
    height: 266px;
    max-height: 100%;
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    overflow: hidden;
}
.main-products-details .thumbnail img {
    height: 192px;
    width: 206px;
    max-width: 100%;
    max-height: 100%;
}
.main-products-details .thumbnail .caption {
    padding: 4px 12px;
    color: #333;
    position: absolute;
    bottom: 4px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.main-products-details .thumbnail .details {
    position: absolute;
    bottom: 12px;
    left: 0;
}
.main-products-details .thumbnail .caption h5 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
    margin-top: 4px;
    min-height: 17px;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
    position: relative;
    white-space: nowrap;
    width: 165px;
    text-overflow: ellipsis;
}
.main-products-details .thumbnail .caption p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 17px;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
    position: relative;
    white-space: nowrap;
    width: 180px;
    text-overflow: ellipsis;
}
.main-products-details .thumbnail .caption .badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 0px;
}
/*========
Details css End
=========*/
/*========
News Details css Start
=========*/
.news-details-wrap {
	width: 650px;
    max-width: 100%;
    margin: 0 auto;
	margin-top: 40px;
}
.result-wraps {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    margin-top: 40px;
}
.details-page  {
	padding: 20px;
}
.details-page img {
	width: 100%;
    max-width: 40%;
	float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
.news-sub h4 {
	font-size: 20px;
    line-height: 18px;
    font-weight: 400;
	margin: 0 0 10px;
}
.news-time {
	font-size: 11px;
    line-height: 14px;
    color: #999;
	margin: 0 0 10px;
}
.news-desc p {
	font-size: 14px;
    line-height: 20px;
    font-weight: normal;
	text-align: justify;
}
.news-content .thumbnail {
    position: relative;
    width: 206px;
    max-width: 100%;
    height: 266px;
    max-height: 100%;
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1.42857143;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    overflow: hidden;
}
.news-content .thumbnail img {
    height: 192px;
    width: 206px;
    max-width: 100%;
    max-height: 100%;
}
.news-content .thumbnail .caption .news-ttle {
    font-size: 14px;
    /* line-height: 17px;
    margin-bottom: 2px;
    margin-top: 2px;
    min-height: 17px;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
    position: relative;
    white-space: nowrap; */
    /* width: 165px; 
    text-overflow: ellipsis;*/

    overflow: hidden;
    position: relative;
    line-height: 14px;
    max-height: 30px;
    margin-right: -14px;
    padding-right: 3px;
    text-align: left;
}
.item .thumbnail {
    display: inline-block;
    padding: 4px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    /* float: left; */
    width: 100%;
}
#owl-demo .item img{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 192px;
    width: 206px;
    max-width: 100%;
    float: left;
    margin-right: 20px;
}
.item .thumbnail .caption h5 {
    white-space: nowrap;
    overflow: hidden;
    /*width: 124px;*/
    text-overflow: ellipsis;
}
.Slider-images {
    border: 1px solid #ddd;
    padding: 8px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb li a {
   text-decoration: none;
}
/*slider css start*/
.carousel-inner {
  position: relative;
  width: 100%;
  min-height: 300px;
  }
 
 .carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
 .carousel-control.left {
  left: 0;
  right: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    width: 228px;
	border: 1px solid #ddd;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 52px;
 }
/*slider css end*/
.info-products {
	margin-left: 26px;
}
.sold-item h5 {
	font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}
.sold-item .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 0px;
}
.cash-item h5 {
	font-size: 12px;
    line-height: 14px;
}
.cash-item .avail-name {
	font-weight: 700;
}
.select-item .buy {
	padding: 5px 42px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
	margin-right: 10px;
}
.select-item .wishlist {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.share-item ul li {
	display: inline;
    float: left;
    margin-right: 10px;
}
.share-item .fb {
	background: #6C81B5;
    padding: 6px 12px;
    color: #fff;
	border-radius: 3px;
}
.share-item .twitt {
	background: #00ACED;
    padding: 6px 12px;
    color: #fff;
	border-radius: 3px;
}
.share-item .link {
	background: #007BB6;
    padding: 6px 12px;
    color: #fff;
	border-radius: 3px;
}
.descrip {
	padding: 20px 22px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}
/*comment css*/

.comment-box {
	max-width: 678px;
    margin: 0px 0;
	background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}
.comment-box h2{
	font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-left: 28px;
	margin: 0;
    padding: 14px;
}
.comment-space {
	margin: 14px 0;
    border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}
.comment-post .commenter {
	color: #272727;
    font-size: 14px;
    font-weight: 600;
}
.comment-post .commenter a {
	color: #272727;
	text-decoration: none;
}
.comment-post p {
	font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
.comment-reply li a {
	font-size: 14px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
}
.comment-reply li .fa-thumbs-up {
	color: #828384;
}
.comment-post .points {
	font-size: 14px;
    padding-left: 16px;
    font-weight: normal;
}
.comment-post .comment-hr {
	font-size: 14px;
    padding-left: 16px;
    font-weight: normal;
}
.comment-post {
	padding-right: 20px;
}
.comment-submit{
	margin-top: 16px;
    float: right;
}
.comment-submit .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.comment-submit .btn {
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.comment-reply ul li img {
    width: 26px;
    max-width: 100%;
    display: block;
    height: auto;
}
.comment-reply ul{
	margin-top: -8px;
}
.comment-reply ul li {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.comment-post .form-control {
	display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #272727;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.reply-comment {
	margin: 12px 0 0 58px;
}
.comment-img img {
	width: 50px;
    border-radius: 28px;
}
}
.fun-main {
	margin: 20px auto -50px;
    max-width: 678px;
}
.fun-main h4 span img {
	width: 68px;
	max-width: 100%;
    height: auto;
	margin-right: 16px;
}
.fun-main h4 a {
	color: #272727;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}
.funcateg{
	margin: 70px auto;
}
.catego-funcat {
	margin: 24px auto;
}
.upload-post {
	margin: 0 0 28px;
}
.upload-post h4 button img {
	width: 38px;
    height: auto;
}
.upload-post h4 button {
	width: 378px;
    max-width: 100%;
	font-size: 22px;
    font-weight: 700;
    color: #fc0929;
    padding: 7px;
}
.upload-post h4 .btn-default {
	background-color: transparent;
    border-color: #fc0929;
    border: 2px solid;
}
.upload-post h4 .btn {
    border-radius: 6px;
    position: relative;
}
.upload-post h4 .btn:hover {
    background: #fff;
	color: #272727;
}
.funcateg .ui-40-main{
	border:1px solid #fff;
	background: #fff;
	box-shadow:none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.funjoy h3{
	font-size: 24px;
    background: #fff;
	color: #272727;
    margin: 0;
    padding: 12px 18px 12px;
}
/*========
News Details css End
=========*/
/*========
section css End
=========*/

/*========
Footer css Start
=========*/
footer {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    background: #fff;
}
.shopping-footer h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.genuine-products .artical-base  {
    padding: 12px;
    border: 1px solid #ddd;
    margin-right: 20px;
    /*background: #fff;*/
}
.artical  .added-contents h4 {
    font-weight: 300;
    font-size: 17px;
}
.genuine-products {
   /* margin: 40px 0;*/
    padding: 40px 0;
    border-top: 1px solid #ddd;
    background: #fff;
}
.about-shp a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    color:#42A5F5;
}
.about-shopping {
    /*margin-top: 60px;*/
    text-align: center;
}
.shopping-footer ol li a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #272727;
    font-weight: normal;
}
.about-shopping .contents{
    text-align: justify;
    font-size: 13px;
    font-weight: normal;
}
.added-content {
    float: left;
    margin-right: 20px;
}
/*========
Footer css End
=========*/


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .navbar-header .navbar-brand {
        /*margin: 0 28px;*/
    }
    .search-top {
        display: table-cell;
        margin-top: 0;
        text-align: center;
        /* padding-left: 95px; */
    }
    .search-top .navbar-form .input-group {
            min-width: 250px;
            max-width: 280px;
            width: 45%;
    }
    .search-top .form-control {
        display: block;
        width: 100%;
        height: 32px;
        padding: 20px 10px;
        font-size: 6px;
        line-height: 1.42857143;
        color: #272727;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .user-log {
        float: none !important;
        text-align: center;
        margin-top: 6px;
    }
    .shopping-footer {
        padding: 0 20px;
        border-bottom: 1px solid #ddd;

    }
    .shopping-footer  h4 {
        text-align: left;
    }
    .about-shopping .contents {
        padding: 0 20px;
        color: #000;
    }
    
   /* .main-wrap-details {
        width: 354px;
        margin: 0 auto;
    }*/
    .main-products-details .thumbnail {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 266px;
        max-height: 100%;
        display: block;
        padding: 0px;
        margin-bottom: 10px;
        margin-right: 10px;
        line-height: 1.42857143;
        background-color: transparent !important;
        border: 1px solid #ddd !important;
        border-radius: 3px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        overflow: hidden;
    }
    .main-products-details {
        padding-left: 0px;
        border-color: transparent;
        width: 370px;
        max-width: 100%;
    }
    .main-products-details .thumbnail .caption h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 2px;
        margin-top: 4px;
        min-height: 17px;
        overflow: hidden;
        display: block;
        text-decoration: none !important;
        position: relative;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
    }
    .about-shopping .copie {
        border-top: 1px solid #ddd;
         padding: 10px 0 0;
    }
    #carousel-custom {
        width: 100%;
        border: 1px solid #ddd;
    }
    .nav>li::before {
        visibility: hidden;
    }
    .nav>li::after {
        visibility: hidden;
    }
    .navbar-default {
        background-color: #fff;
        border-color: transparent;
        border-radius: 0;
        margin-bottom: 0px;
        padding: 0px 20px;
    }
     .navbar-default .navbar-form {
        border-color: transparent;
    }
    .nav>li {
        position: relative !important;
        display: inline-block !important;
    }
    .navbar-right li {
        padding-left: 12px !important;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
        background: #bbb !important;
    }
     .nav-listings .navbar-nav>li {
        display: block!important;
        position: relative;
        x-overflow:scroll;
     }
    .nav-listings .navbar-nav>li>a {
        color: #000;
        background-color: #ddd;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none !important;
        text-transform: uppercase;
    }
    .navbar-default .navbar-brand {
        display: inline;
        padding-left: 22px !important;
    }
    /*.navbar-right li {
        display: block!important;
    }*/
     .main-wrap-details {
        width: 320px;
        margin: 0 auto;
        /* margin-top: 40px; */
    }
    .genuine-products .artical-base {
        padding: 12px;
        border: 1px solid #ddd;
        margin-right: 0px;
        /* background: #fff; */
    }
    .col-xs-6 {
        width: 46%;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }

}

/*nav slider*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ddd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 12px;}
}
/*nav slide end*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
     .navbar-header .navbar-brand {
        margin: 0 42px;
    }
    .main-products-details {
        padding-left: 8px;
        border-color: transparent;
        width: 370px;
        max-width: 100%;
    }
    .main-products-details .thumbnail .caption h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 2px;
        margin-top: 4px;
        min-height: 17px;
        overflow: hidden;
        display: block;
        text-decoration: none !important;
        position: relative;
        white-space: normal;
        width: 100%;
        text-overflow: ellipsis;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #000;
        border-radius: 0;
        margin-bottom: 0px;
        padding: 0px 20px;
    }
  }

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .listing .collapse {
        display: block;
    }
    .main-products-details {
        padding-left: 8px;
        border-color: transparent;
        width: 370px;
        max-width: 100%;
    }
    .main-products-details .thumbnail .caption h5 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 2px;
        margin-top: 4px;
        min-height: 17px;
        overflow: hidden;
        display: block;
        text-decoration: none !important;
        position: relative;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #000;
        border-radius: 0;
        margin-bottom: 0px;
        padding: 0px 20px;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .search-top .navbar-form .input-group {
            max-width: 678px;
            min-width: 678px;
            width: 100%;
    }
    .search-top .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 20px 14px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .main-products-details {
        padding-left: 8px;
        border-color: transparent;
        width: 100%;
        max-width: 100%;
    }
     .main-products-details .thumbnail {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 266px;
        max-height: 100%;
        display: block;
        padding: 0px;
        margin-bottom: 10px;
        margin-right: 10px;
        line-height: 1.42857143;
        background-color: transparent !important;
        border: 1px solid transparent !important;
        border-radius: 3px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        overflow: hidden;
    }
    .shopping-footer h4 {
        text-align: left;
    }
    .shopping-footer {
    /* padding: 0 80px; */
        border-bottom: 1px solid transparent;
    }
    #carousel-custom {
        width: 228px;
        border: 1px solid #ddd;
    }
     .nav>li::before {
        visibility: visible;
    }
    .nav>li::after {
        visibility: visible;
    }
    .navbar-form .input-group {
        width: 750px !important;
         max-width: 100% !important;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #ddd;
        border-radius: 0;
        margin-bottom: 0px;
        padding: 0 62px;
    }
    .listing .navbar-nav>li>a {
        color: #000;
        background-color: transparent;
        font-size: 9px;
        line-height: 20px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none !important;
        text-transform: uppercase;
    }
    .navbar-default .navbar-brand {
        display: inline;
        padding-left: 0px !important;
    }
    .navbar-right {
        float: none!important;
        margin-right: 0;
        vertical-align: bottom;
        padding-top: 12px;
    }
    .navbar-right li {
        padding-left: 0px !important;
    }
    .main-wrap-details {
        width: 650px;
        margin: 0 auto;
        /* margin-top: 40px; */
    }
    .genuine-products .artical-base {
        padding: 12px;
        border: 1px solid #ddd;
        margin-right: 20px;
        /* background: #fff; */
    }
    .col-md-4 {
        width: 33.33333333%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-shopping p {
        color: #5FBBF8;
    }
    .navbar-left .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        z-index: 0 !important;
    }
    /*category list css start*/
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{display:block;}
    .dropdown-submenu>a:after{text-decoration: none;color:#000;display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{text-decoration: none;color:#000;border-left-color:#ffffff;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
    .listing ul li a {
        text-decoration: none;
        color: #000;    
    }

}