/*===============================================
*SERFO MAIN CSS
*Aguest 09 2016
==================================================*/
/*
/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

@import url('https://fonts.googleapis.com/css?family=Antic|Archivo+Narrow:400,700,700i|Roboto:300,400,400i,500,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body,html {
    margin:0px;
    padding: 0px;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Antic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    color: #272727;
    background: #D4D4D2;
    height: 100%;
    z-index: -1;
}
/*=======
navbar start
==========*/
.navbar-default {
    background-color: #fff;
    border-color: #000;
    border-radius: 0;
    margin-bottom: 0px;
    padding:8px 30px;
}
.navbar {
    position: relative;
    min-height: 50px;
    background: #2874F0;
    border: 1px solid #2874F0;
}
.navbar-default .navbar-brand {
    color: #fff !important;
    font-weight: 800;
    font-size: 28px;
}
.navbar-default .navbar-brand:hover {
    color: #fff !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.searchs {
    background: #ffe11b;
    border: 1px solid #ffe11b;
    color: #000 !important;
    padding: 14px 12px !important;
    margin-top: 1px !important;
    display: inline-flex !important;
}
.searchs:hover{
    background: #ffe11b;
}
.search-top .navbar-form .input-group {
    width: 678px;
    max-width: 100%;
}
.navbar-form .input-group>.form-control {
    background-color: rgba(244,244,244,0.6);
    width: 600px;
    max-width: 100%;
    padding: 22px 8px 22px 16px;
    margin-left: 78px;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    border-radius: 3px 0px 0px 3px;
    color: #BBA9A9;
    background-clip: padding-box;
    border: 1px solid #CDCDCD;
    border-color: rgba(0,0,0,.15);
    border-right-width: 0;
    height: 37px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
    box-shadow: none;
}
.search-top .input-group-btn .btn {
    display: inline-block;
    padding: 10px 24px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}  border-color: #adadad;

.search-top .fa-search {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
}
/*=======
navbar END
==========*/

/*=======
section css start
==========*/
.top-two {
    position: relative;
    padding: 10px 10px;
    overflow: hidden;
}
.top-three {
    position: relative;
    padding: 10px 10px;
    overflow: hidden;
}
/*carousel slider add start*/
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
.adv-slide {
    height: 268px !important;
    position: relative;
    overflow:hidden;
}
/*carousel slider add end*/


/*buynow cards start*/
@import"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import"https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700";
.backto{background:#039; padding:12px 0; color:#fff}
.backto a{color:#FFF; text-decoration:none}
.cards-row{padding-top:40px; padding-bottom:20px; background:#eee}
.top-three .thumbnail{position: relative; height: 389px;padding:0; border-radius:0; border:none;margin-bottom:0;box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
.thumbnail>img{width:100%; display:block}
.thumbnail h3{font-size:26px}
.thumbnail h3,.card-description{margin:0; padding:8px 0; border-bottom:solid 1px #eee; text-align:justify}
.thumbnail p{padding-top:8px; font-size:20px}
.thumbnail .btn{border-radius:0; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); font-size:20px}

.top-three {
    overflow:hidden;
}
.top-three .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*buy now cards end*/

/*products-slider owl carousel css start*/
#owl-demo .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    height: 220px;
    max-height: 100%;
    max-width: 100%;
}
#owl-demo-on .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    max-height: 220px;
}
#owl-demo-one .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    max-height: 220px;
}
#owl-demo-two .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    max-height: 220px;
}
#owl-demo-three .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    max-height: 220px;
}
#owl-demo-four .item img{
    /*display: block;
    width: 100%;
    height: auto;*/
    display: block;
    width: 100%;
    max-height: 220px;
}
.products-slider {
    padding: 0 10px;
}
.articles-page {
    padding: 0 10px;
    width: 78%;
}
.cat-group {
    width: 22%;
}
.fly-slider {
    width: 78%;
}
.productbox {
    background-color:#ffffff;
    margin: 10px;
    position: relative;
    display: block;
}
.productbox:hover{
    z-index: 50;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    border: solid 0.9px #f3f3f3;
}
.producttitle {
    padding: 5px 5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.productprice {
    border-top:1px solid #dadada;
    padding: 5px 5px;
}

.pricetext {
    font-size: 14px !important;
    font-weight: normal;
    font-size:1.4em;
}
/*products-slider owl carousel css end*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: #fdfdfd !important;
    border-bottom: 1px solid #e4e4e4 !important;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 1px;
}
a.list-group-item, button.list-group-item {
    color: #878787;
    border: 1px solid #fdfdfd;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #dcdcdc;
}
.artical {
    display: block;
    background: #fdfdfd;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 100%;
    height:364px !important; 
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
       -moz-box-shadow: 2px 2px 14px 0px #999;
            box-shadow: 2px 2px 14px 0px #999;
}
.artical-high {
    width: 100%;
    height: 332px;
    position: relative;
    overflow: hidden;
}
.inner-title {
    padding: 10px 16px 0;
    font-weight: 600;
}
.add-left{
    padding: 10 20px;
    border: 1px solid #ddd;
    /*border-bottom: 1px solid #ddd;*/
}
.add-middle{
    padding: 10 20px;
    border: 1px solid #ddd;
    /*border-bottom: 1px solid #ddd;*/
}
.add-right{
    padding: 10 20px;
    border: 1px solid #ddd;
}
.offer-articals {
    display: block;
    background: #fff;
    margin: 20px 0;
    padding: 10px 10px;
    width: 100%;
    height: auto !important; 
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
       -moz-box-shadow: 2px 2px 14px 0px #999;
            box-shadow: 2px 2px 14px 0px #999;
}
.offer-articals img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
}
/*category page css startr*/

.category-artical {
    display: block;
    background: #fdfdfd;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 100%;
    height: auto !important; 
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
       -moz-box-shadow: 2px 2px 14px 0px #999;
            box-shadow: 2px 2px 14px 0px #999;
}
.category-one .productbox{
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.category-one .productbox img {
    display: block;
    max-width: 100%;
    height: 160px;
}
.category-articals .col-md-2 {
    width:19.666667%;
    height: 260px;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

/*Results pages css start*/
.results {
    margin: 10px 0 0;
}
.articals-one {
    display: block;
    background: #fff;
    margin: 10px;
    padding: 10px 10px;
    color: #000;
   /* width: 100%;*/
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
    -moz-box-shadow: 2px 2px 14px 0px #999;
    box-shadow: 2px 2px 14px 0px #999;
}
.artical-items {
    display: block;
    background: #fff;
    /*margin-bottom: 20px;
     padding: 10px 10px; */
    width: 100%;
    height: 344px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
    -moz-box-shadow: 2px 2px 14px 0px #999;
    box-shadow: 2px 2px 14px 0px #999;
}
.items-start {
    width: 96%;
}
.items-img {
    width: 50%;
    float: left;
    display: inline;
}
.items-desc {
    width: 50%;
    float: left;
    display: inline;
    padding: 20px;
}
.items-desc h4 {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.items-desc ul li {
    font-size: 14px;
}
.artical-img {
    width: 28%;
    display: inline-block;
    float: left;
}
.artical-descrip {
    width: 56%;
    display: inline-block;
    float: left;
    padding: 20px;
}
.artical-descrip p {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
}
.social-tag li {
    margin-right: 10px;
    padding: 10px 0;
    float: left;
    display: inline-block;
}
.artical-time {
    font-size: 11px;
    line-height: 14px;
    color: #999;
}

/*description zoom slider css start*/
.description-card {
    background: #fff;
    margin: 10px 10px;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
    -moz-box-shadow: 2px 2px 14px 0px #999;
    box-shadow: 2px 2px 14px 0px #999;
}
.description-details {
    margin: 20px 10px;
    padding: 0 10px;
    color: #000;
}
.description-details h3 {
    font-size: 16px;
    margin: 0;
}
.prices {
    width:100%;
    margin: 0;
}
.prices .pric {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 10px 0;
}
.about-pric .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #2874F0;
    border-radius: 2px;
}
.about-pric li {
    padding: 0;
    font-size: 14px;
}
.social-tag li {
    margin-right: 10px;
    padding: 10px 0;
    float: left;
    display: inline-block;
}
.buy-product {
    width: 100%;
}
.buy-product .btn-block {
    display: block;
    width: 98%;
    border-color: #FF6161;
}
.buy-product .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: #fff;
    background-color: #337AB7;
    border-color: #337AB7;
}
.share-social h5 {
    color: #878787;
}
.buy-product .btn {
    display: inline-block;
    padding: 11px 12px;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-color: rgb(51, 122, 183);
    border-radius: 0px;
}
.buy-product li{
    width: 34%;
    float: left;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}
.product-features {
    margin: 20px 10px;
    padding: 0 10px;
    color: #000;
    border-left: 1px solid #dedede;
}
.features-lis li {
    font-size: 13px;
    font-weight: normal;
    height: auto;
}
/*
.navigator-imgs-lis {
    list-style-type:none;
    padding: 0 20px;
    width: 390px;
    overflow: hidden;
    height: 66px;
}
.navigator-imgs-lis li {
    margin-right: 6px;
    float: left;
}
.navigator-imgs-lis li img {
    height: 66px;
    width: 52px;
}*/
/**/

.grid {
    margin: 20px 10px;
    padding: 0 10px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  min-height: 270px;
  }
 
 .carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
 .carousel-control.left {
  left: 0;
  right: auto;
  background-image: none !important;
  background-repeat: repeat-x;
}
#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: 20px 10px;
    width: 400px;
    padding: 0 10px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 52px;}
  /*description zoom slider css end*/

  /*genuine-products css start*/
  .genuine-products {
    display: block;
    background: #fdfdfd;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 14px 0px #999;
    -moz-box-shadow: 2px 2px 14px 0px #999;
    box-shadow: 2px 2px 14px 0px #999;
    border-top: 1px solid #ddd;
}
.genuine-products .artical-base {
    width: 92%;
    padding: 12px;
    margin: 20px;
    border: 1px solid #ddd;
    color: #000;
}
.added-content {
    float: left;
    width: 22%;
}
.added-contents {
    float: left;
    width: 78%;
}
.foot-part {
    text-align: center;
    font-size: 12px;
    color: #2874f0;
    margin: 0;
    font-weight: 600;
}
.about-txt {
    text-align: justify;
    font-size: 12px;
    padding: 0 20px;
    margin: 20px 0;
    color: rgb(0, 0, 0);
}
/*genuine-products css end*/
/*========
section css End
=========*/



   /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }
        .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
            background-color: transparent;
        }
        .navbar-default .navbar-brand {
            color: #fff !important;
            font-weight: 500 !important;
            font-size: 22px !important;
            letter-spacing: 1px !important;
        }

        .navbar-form {
            padding: 10px 15px;
            margin-top: 8px;
            margin-right: -15px;
            margin-bottom: 8px;
            margin-left: -15px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            -webkit-box-shadow: inset 0 1px 0 rgb(40, 116, 240),0 1px 0 rgb(40, 116, 240);
            box-shadow: inset 0 1px 0 rgb(40, 116, 240),0 1px 0 rgb(40, 116, 240);
        }
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #2874f0;
        }
        .navbar-form .input-group>.form-control {
            background-color: rgba(244,244,244,0.6);
            width: 178px;
            max-width: 100%;
            padding: 10px 4px 10px 6px;
            margin-left: 0;
            background: #fff;
            font-size: 12px;
            font-weight: 400;
            text-overflow: ellipsis;
            border-radius: 3px 0px 0px 3px;
            color: #BBA9A9;
            background-clip: padding-box;
            border: 1px solid #CDCDCD;
            border-color: rgba(0,0,0,.15);
            border-right-width: 0;
            height: 38px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            box-shadow: none;
        }
        .searchs {
            background: #ffe11b;
            border: 1px solid #ffe11b;
            color: #000 !important;
            padding: 10px 7px !important;
            margin-top: 1px !important;
            display: inline-flex !important;
            width: 30%;
            white-space: nowrap;
            vertical-align: middle;
        }
        .navbar-default .navbar-nav>li>a {
            color: #fff;
            background-color: transparent;
            font-size: 12px;
            line-height: 8px;
            font-weight: 400;
            text-align: left;
        }
        .cat-group {
            width: 100%;
        }
        .fly-slider {
            width: 100%;
        }
        .articles-page {
            padding: 0 10px;
            width: 100%;
            margin-bottom: 10px;
        }
        .category-articals .col-md-2 {
            width: 100%;
            height: auto;
        }
        .category-one .productbox img {
            display: block;
            max-width: 100%;
            height: auto;
            width: 100%;
        }
        .added-content {
            float: left;
            width: 30%;
        }
        .added-contents {
            float: left;
            width: 70%;
        }
        .added-contents h4 {
            font-size: 14px;
            line-height: 18px;
        }
         .foot-part {
            text-align: center;
            font-size: 9px;
            color: #2874f0;
            margin: 0;
            font-weight: 600;
        }
        .buy-product li {
            width: 100%;
            float: none;
            display: inline-block;
            padding: 10px 0;
            text-align: center;
        }
        .artical-img {
            width: 100% !important;
            display: inline-block;
            float: none !important;
        }
        .artical-descrip {
            width: 100% !important;
            display: inline-block;
            float: none !important;
            padding: 10px !important;
        }
        .items-img {
            width: 100%;
            max-width: 100%;
            float: none;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .items-img img {
            width: 100%;
            max-width: 100%;
            display: block;
            text-align: center;
            margin: 0 auto;
            position: relative;
        }
        .items-desc {
            width: 98%;
            float: none;
            display: inline-block;
            padding: 20px;
        }
        .items-start {
            width: 94% !important;
        }
        .artical-items {
            display: block;
            background: #fff;
            width: 100%;
            height: 570px !important;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
            -webkit-box-shadow: 2px 2px 14px 0px #999;
            -moz-box-shadow: 2px 2px 14px 0px #999;
            box-shadow: 2px 2px 14px 0px #999;
        }
        .inner-title {
            padding: 10px 16px 0;
            font-weight: 600;
            font-size: 13px;
            line-height: 8px;
        }
        .genuine-products .artical-base {
            width: 100%;
            padding: 12px;
            margin: 0px;
            border: 1px solid #ddd;
            color: #000;
        }
        .carousel-inner {
            position: relative;
            width: 100%;
            min-height: 190px;
        }
        .adv-slide {
            height: 180px !important;
            position: relative;
            overflow:hidden;
        }
        a.list-group-item, button.list-group-item {
            color: #878787;
            border: 1px solid #fdfdfd;
            font-size: 14px;
            line-height: 16px;
        }
        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #000;
            font-size: 16px;
            background-color: #fdfdfd !important;
            border-bottom: 1px solid #e4e4e4 !important;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-radius: 1px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .navbar-default .navbar-brand {
            color: #fff !important;
            font-weight: 800 !important;
            font-size: 28px !important;
            letter-spacing: 0px !important;
            padding-top: 32px;
        }

        .search-top .navbar-form .input-group {
            width: 678px;
            max-width: 100%;
        }
        .navbar-form .input-group>.form-control {
            background-color: rgba(244,244,244,0.6);
            width: 600px;
            max-width: 100%;
            padding: 22px 8px 22px 16px;
            margin-left: 78px;
            background: #fff;
            font-size: 16px;
            font-weight: 500;
            text-overflow: ellipsis;
            border-radius: 3px 0px 0px 3px;
            color: #BBA9A9;
            background-clip: padding-box;
            border: 1px solid #CDCDCD;
            border-color: rgba(0,0,0,.15);
            border-right-width: 0;
            height: 37px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline:none;
            box-shadow: none;
        }
        .search-top .input-group-btn .btn {
            display: inline-block;
            padding: 10px 24px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid #ddd;
            border-radius: 4px;
        }  border-color: #adadad;

        .search-top .fa-search {
            font-size: 18px;
            font-weight: 500;
            line-height: 14px;
        }
         .searchs {
            background: #ffe11b;
            border: 1px solid #ffe11b;
            color: #000 !important;
            padding: 14px 14px !important;
            margin-top: 1px !important;
            display: inline-flex !important;
            white-space: nowrap;
            vertical-align: middle;
        }
        .navbar-default .navbar-nav>li>a {
            color: #fff;
            background-color: transparent;
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
            text-align: center;
        }
        .cat-group {
            width: 22%;
        }
        .fly-slider {
            width: 78%;
        }
        .articles-page {
            padding: 0 10px;
            width: 78%;
            margin-bottom: 0;
        }
        .category-articals .col-md-2 {
            width: 19.666667%;
            height: 260px;
        }
        .added-content {
            float: left;
            width: 22%;
        }
        .added-contents {
            float: left;
            width: 78%;
        }
        .added-contents h4 {
            font-size: 18px;
            line-height: 24px;
        }
        .foot-part {
            text-align: center;
            font-size: 12px;
            color: #2874f0;
            margin: 0;
            font-weight: 600;
        }
        .buy-product li {
            width: 34%;
            float: left;
            display: inline-block;
            padding: 10px 0;
            text-align: center;
        }
        .adv-slide {
            height: 268px !important;
            position: relative;
            overflow: hidden;
        }
        .artical-img {
            width: 28% !important;
            display: inline-block;
            float: left !important;
        }
        .artical-descrip {
            width: 56% !important;
            display: inline-block;
            float: left;
            padding: 20px;
        }
        .items-img {
            width: 50% !important;
            float: left !important;
            display: inline-block;
        }
        .items-desc {
            width: 50% !important;
            float: left !important;
            display: inline-block;
            padding: 20px !important;
        }
        .items-start {
            width: 96% !important;
        }
        .artical-items {
            display: block;
            background: #fff;
            width: 100%;
            height: 344px !important;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
            -webkit-box-shadow: 2px 2px 14px 0px #999;
            -moz-box-shadow: 2px 2px 14px 0px #999;
            box-shadow: 2px 2px 14px 0px #999;
        }
        .items-img img {
            width: 100%;
            max-width: 100%;
            display: block;
            text-align: center;
            margin: 0 auto;
            position: relative;
        }
        .inner-title {
            padding: 10px 16px 0;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
        }
        .genuine-products .artical-base {
            width: 92%;
            padding: 12px;
            margin: 20px;
            border: 1px solid #ddd;
            color: #000;
        }
        .carousel-inner {
            position: relative;
            width: 100%;
            min-height: 270px;
        }
        .adv-slide {
            height: 268px !important;
            position: relative;
            overflow:hidden;
        }
        a.list-group-item, button.list-group-item {
            color: #878787;
            border: 1px solid #fdfdfd;
            font-size: 16px;
            line-height: 22px;
        }


        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #000;
            font-size: 18px;
            background-color: #fdfdfd !important;
            border-bottom: 1px solid #e4e4e4 !important;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-radius: 1px;
        }

    }